@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-nav-50: 210deg 20% 98%;
        --color-nav-100: 220deg 14% 96%;
        --color-nav-200: 220deg 13% 91%;
        --color-nav-300: 216deg 12% 84%;
        --color-nav-400: 218deg 11% 65%;
        --color-nav-500: 220deg 9% 46%;
        --color-nav-600: 215deg 14% 34%;
        --color-nav-700: 217deg 19% 27%;
        --color-nav-800: 215deg 28% 17%;
        --color-nav-900: 221deg 39% 11%;
        --color-nav-950: 224deg 71% 4%;

        --color-white: 0deg 0% 100%;
        --color-black: 0deg 0% 0%;
        --color-slate-50: 210deg 40% 98%;
        --color-slate-100: 210deg 40% 96%;
        --color-slate-200: 214deg 32% 91%;
        --color-slate-300: 213deg 27% 84%;
        --color-slate-400: 215deg 20% 65%;
        --color-slate-500: 215deg 16% 47%;
        --color-slate-600: 215deg 19% 35%;
        --color-slate-700: 215deg 25% 27%;
        --color-slate-800: 217deg 33% 17%;
        --color-slate-900: 222deg 47% 11%;
        --color-slate-950: 229deg 84% 5%;
        --color-gray-50: 210deg 20% 98%;
        --color-gray-100: 220deg 14% 96%;
        --color-gray-200: 220deg 13% 91%;
        --color-gray-300: 216deg 12% 84%;
        --color-gray-400: 218deg 11% 65%;
        --color-gray-500: 220deg 9% 46%;
        --color-gray-600: 215deg 14% 34%;
        --color-gray-700: 217deg 19% 27%;
        --color-gray-800: 215deg 28% 17%;
        --color-gray-900: 221deg 39% 11%;
        --color-gray-950: 224deg 71% 4%;
        --color-zinc-50: 0deg 0% 98%;
        --color-zinc-100: 240deg 5% 96%;
        --color-zinc-200: 240deg 6% 90%;
        --color-zinc-300: 240deg 5% 84%;
        --color-zinc-400: 240deg 5% 65%;
        --color-zinc-500: 240deg 4% 46%;
        --color-zinc-600: 240deg 5% 34%;
        --color-zinc-700: 240deg 5% 26%;
        --color-zinc-800: 240deg 4% 16%;
        --color-zinc-900: 240deg 6% 10%;
        --color-zinc-950: 240deg 10% 4%;
        --color-neutral-50: 0deg 0% 98%;
        --color-neutral-100: 0deg 0% 96%;
        --color-neutral-200: 0deg 0% 90%;
        --color-neutral-300: 0deg 0% 83%;
        --color-neutral-400: 0deg 0% 64%;
        --color-neutral-500: 0deg 0% 45%;
        --color-neutral-600: 0deg 0% 32%;
        --color-neutral-700: 0deg 0% 25%;
        --color-neutral-800: 0deg 0% 15%;
        --color-neutral-900: 0deg 0% 9%;
        --color-neutral-950: 0deg 0% 4%;
        --color-stone-50: 60deg 9% 98%;
        --color-stone-100: 60deg 5% 96%;
        --color-stone-200: 20deg 6% 90%;
        --color-stone-300: 24deg 6% 83%;
        --color-stone-400: 24deg 5% 64%;
        --color-stone-500: 25deg 5% 45%;
        --color-stone-600: 33deg 5% 32%;
        --color-stone-700: 30deg 6% 25%;
        --color-stone-800: 12deg 6% 15%;
        --color-stone-900: 24deg 10% 10%;
        --color-stone-950: 20deg 14% 4%;
        --color-red-50: 0deg 86% 97%;
        --color-red-100: 0deg 93% 94%;
        --color-red-200: 0deg 96% 89%;
        --color-red-300: 0deg 94% 82%;
        --color-red-400: 0deg 91% 71%;
        --color-red-500: 0deg 84% 60%;
        --color-red-600: 0deg 72% 51%;
        --color-red-700: 0deg 74% 42%;
        --color-red-800: 0deg 70% 35%;
        --color-red-900: 0deg 63% 31%;
        --color-red-950: 0deg 75% 15%;
        --color-orange-50: 33deg 100% 96%;
        --color-orange-100: 34deg 100% 92%;
        --color-orange-200: 32deg 98% 83%;
        --color-orange-300: 31deg 97% 72%;
        --color-orange-400: 27deg 96% 61%;
        --color-orange-500: 25deg 95% 53%;
        --color-orange-600: 21deg 90% 48%;
        --color-orange-700: 17deg 88% 40%;
        --color-orange-800: 15deg 79% 34%;
        --color-orange-900: 15deg 75% 28%;
        --color-orange-950: 13deg 81% 15%;
        --color-amber-50: 48deg 100% 96%;
        --color-amber-100: 48deg 96% 89%;
        --color-amber-200: 48deg 97% 77%;
        --color-amber-300: 46deg 97% 65%;
        --color-amber-400: 43deg 96% 56%;
        --color-amber-500: 38deg 92% 50%;
        --color-amber-600: 32deg 95% 44%;
        --color-amber-700: 26deg 90% 37%;
        --color-amber-800: 23deg 83% 31%;
        --color-amber-900: 22deg 78% 26%;
        --color-amber-950: 21deg 92% 14%;
        --color-yellow-50: 55deg 92% 95%;
        --color-yellow-100: 55deg 97% 88%;
        --color-yellow-200: 53deg 98% 77%;
        --color-yellow-300: 50deg 98% 64%;
        --color-yellow-400: 48deg 96% 53%;
        --color-yellow-500: 45deg 93% 47%;
        --color-yellow-600: 41deg 96% 40%;
        --color-yellow-700: 35deg 92% 33%;
        --color-yellow-800: 32deg 81% 29%;
        --color-yellow-900: 28deg 73% 26%;
        --color-yellow-950: 26deg 83% 14%;
        --color-lime-50: 78deg 92% 95%;
        --color-lime-100: 80deg 89% 89%;
        --color-lime-200: 81deg 88% 80%;
        --color-lime-300: 82deg 85% 67%;
        --color-lime-400: 83deg 78% 55%;
        --color-lime-500: 84deg 81% 44%;
        --color-lime-600: 85deg 85% 35%;
        --color-lime-700: 86deg 78% 27%;
        --color-lime-800: 86deg 69% 23%;
        --color-lime-900: 88deg 61% 20%;
        --color-lime-950: 89deg 80% 10%;
        --color-green-50: 138deg 76% 97%;
        --color-green-100: 141deg 84% 93%;
        --color-green-200: 141deg 79% 85%;
        --color-green-300: 142deg 77% 73%;
        --color-green-400: 142deg 69% 58%;
        --color-green-500: 142deg 71% 45%;
        --color-green-600: 142deg 76% 36%;
        --color-green-700: 142deg 72% 29%;
        --color-green-800: 143deg 64% 24%;
        --color-green-900: 144deg 61% 20%;
        --color-green-950: 145deg 80% 10%;
        --color-emerald-50: 152deg 81% 96%;
        --color-emerald-100: 149deg 80% 90%;
        --color-emerald-200: 152deg 76% 80%;
        --color-emerald-300: 156deg 72% 67%;
        --color-emerald-400: 158deg 64% 52%;
        --color-emerald-500: 160deg 84% 39%;
        --color-emerald-600: 161deg 94% 30%;
        --color-emerald-700: 163deg 94% 24%;
        --color-emerald-800: 163deg 88% 20%;
        --color-emerald-900: 164deg 86% 16%;
        --color-emerald-950: 166deg 91% 9%;
        --color-teal-50: 166deg 76% 97%;
        --color-teal-100: 167deg 85% 89%;
        --color-teal-200: 168deg 84% 78%;
        --color-teal-300: 171deg 77% 64%;
        --color-teal-400: 172deg 66% 50%;
        --color-teal-500: 173deg 80% 40%;
        --color-teal-600: 175deg 84% 32%;
        --color-teal-700: 175deg 77% 26%;
        --color-teal-800: 176deg 69% 22%;
        --color-teal-900: 176deg 61% 19%;
        --color-teal-950: 179deg 84% 10%;
        --color-cyan-50: 183deg 100% 96%;
        --color-cyan-100: 185deg 96% 90%;
        --color-cyan-200: 186deg 94% 82%;
        --color-cyan-300: 187deg 92% 69%;
        --color-cyan-400: 188deg 86% 53%;
        --color-cyan-500: 189deg 94% 43%;
        --color-cyan-600: 192deg 91% 36%;
        --color-cyan-700: 193deg 82% 31%;
        --color-cyan-800: 194deg 70% 27%;
        --color-cyan-900: 196deg 64% 24%;
        --color-cyan-950: 197deg 79% 15%;
        --color-sky-50: 204deg 100% 97%;
        --color-sky-100: 204deg 94% 94%;
        --color-sky-200: 201deg 94% 86%;
        --color-sky-300: 199deg 95% 74%;
        --color-sky-400: 198deg 93% 60%;
        --color-sky-500: 199deg 89% 48%;
        --color-sky-600: 200deg 98% 39%;
        --color-sky-700: 201deg 96% 32%;
        --color-sky-800: 201deg 90% 27%;
        --color-sky-900: 202deg 80% 24%;
        --color-sky-950: 204deg 80% 16%;
        --color-blue-50: 214deg 100% 97%;
        --color-blue-100: 214deg 95% 93%;
        --color-blue-200: 213deg 97% 87%;
        --color-blue-300: 212deg 96% 78%;
        --color-blue-400: 213deg 94% 68%;
        --color-blue-500: 217deg 91% 60%;
        --color-blue-600: 221deg 83% 53%;
        --color-blue-700: 224deg 76% 48%;
        --color-blue-800: 226deg 71% 40%;
        --color-blue-900: 224deg 64% 33%;
        --color-blue-950: 226deg 57% 21%;
        --color-indigo-50: 226deg 100% 97%;
        --color-indigo-100: 226deg 100% 94%;
        --color-indigo-200: 228deg 96% 89%;
        --color-indigo-300: 230deg 94% 82%;
        --color-indigo-400: 234deg 89% 74%;
        --color-indigo-500: 239deg 84% 67%;
        --color-indigo-600: 243deg 75% 59%;
        --color-indigo-700: 245deg 58% 51%;
        --color-indigo-800: 244deg 55% 41%;
        --color-indigo-900: 242deg 47% 34%;
        --color-indigo-950: 244deg 47% 20%;
        --color-violet-50: 250deg 100% 98%;
        --color-violet-100: 251deg 91% 95%;
        --color-violet-200: 251deg 95% 92%;
        --color-violet-300: 252deg 95% 85%;
        --color-violet-400: 255deg 92% 76%;
        --color-violet-500: 258deg 90% 66%;
        --color-violet-600: 262deg 83% 58%;
        --color-violet-700: 263deg 70% 50%;
        --color-violet-800: 263deg 69% 42%;
        --color-violet-900: 264deg 67% 35%;
        --color-violet-950: 261deg 73% 23%;
        --color-purple-50: 270deg 100% 98%;
        --color-purple-100: 269deg 100% 95%;
        --color-purple-200: 269deg 100% 92%;
        --color-purple-300: 269deg 97% 85%;
        --color-purple-400: 270deg 95% 75%;
        --color-purple-500: 271deg 91% 65%;
        --color-purple-600: 271deg 81% 56%;
        --color-purple-700: 272deg 72% 47%;
        --color-purple-800: 273deg 67% 39%;
        --color-purple-900: 274deg 66% 32%;
        --color-purple-950: 274deg 87% 21%;
        --color-fuchsia-50: 289deg 100% 98%;
        --color-fuchsia-100: 287deg 100% 95%;
        --color-fuchsia-200: 288deg 96% 91%;
        --color-fuchsia-300: 291deg 93% 83%;
        --color-fuchsia-400: 292deg 91% 73%;
        --color-fuchsia-500: 292deg 84% 61%;
        --color-fuchsia-600: 293deg 69% 49%;
        --color-fuchsia-700: 295deg 72% 40%;
        --color-fuchsia-800: 295deg 70% 33%;
        --color-fuchsia-900: 297deg 64% 28%;
        --color-fuchsia-950: 297deg 90% 16%;
        --color-pink-50: 327deg 73% 97%;
        --color-pink-100: 326deg 78% 95%;
        --color-pink-200: 326deg 85% 90%;
        --color-pink-300: 327deg 87% 82%;
        --color-pink-400: 329deg 86% 70%;
        --color-pink-500: 330deg 81% 60%;
        --color-pink-600: 333deg 71% 51%;
        --color-pink-700: 335deg 78% 42%;
        --color-pink-800: 336deg 74% 35%;
        --color-pink-900: 336deg 69% 30%;
        --color-pink-950: 336deg 84% 17%;
        --color-rose-50: 356deg 100% 97%;
        --color-rose-100: 356deg 100% 95%;
        --color-rose-200: 353deg 96% 90%;
        --color-rose-300: 353deg 96% 82%;
        --color-rose-400: 351deg 95% 71%;
        --color-rose-500: 350deg 89% 60%;
        --color-rose-600: 347deg 77% 50%;
        --color-rose-700: 345deg 83% 41%;
        --color-rose-800: 343deg 80% 35%;
        --color-rose-900: 342deg 75% 30%;
        --color-rose-950: 343deg 88% 16%;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --color-white: 0deg 0% 0%;
            --color-black: 0deg 0% 100%;
            --color-slate-50: 229deg 84% 5%;
            --color-slate-100: 222deg 47% 11%;
            --color-slate-200: 217deg 33% 17%;
            --color-slate-300: 215deg 25% 27%;
            --color-slate-400: 215deg 19% 35%;
            --color-slate-500: 215deg 16% 47%;
            --color-slate-600: 215deg 20% 65%;
            --color-slate-700: 213deg 27% 84%;
            --color-slate-800: 214deg 32% 91%;
            --color-slate-900: 210deg 40% 96%;
            --color-slate-950: 210deg 40% 98%;
            --color-gray-50: 224deg 71% 4%;
            --color-gray-100: 221deg 39% 11%;
            --color-gray-200: 215deg 28% 17%;
            --color-gray-300: 217deg 19% 27%;
            --color-gray-400: 215deg 14% 34%;
            --color-gray-500: 220deg 9% 46%;
            --color-gray-600: 218deg 11% 65%;
            --color-gray-700: 216deg 12% 84%;
            --color-gray-800: 220deg 13% 91%;
            --color-gray-900: 220deg 14% 96%;
            --color-gray-950: 210deg 20% 98%;
            --color-zinc-50: 240deg 10% 4%;
            --color-zinc-100: 240deg 6% 10%;
            --color-zinc-200: 240deg 4% 16%;
            --color-zinc-300: 240deg 5% 26%;
            --color-zinc-400: 240deg 5% 34%;
            --color-zinc-500: 240deg 4% 46%;
            --color-zinc-600: 240deg 5% 65%;
            --color-zinc-700: 240deg 5% 84%;
            --color-zinc-800: 240deg 6% 90%;
            --color-zinc-900: 240deg 5% 96%;
            --color-zinc-950: 0deg 0% 98%;
            --color-neutral-50: 0deg 0% 4%;
            --color-neutral-100: 0deg 0% 9%;
            --color-neutral-200: 0deg 0% 15%;
            --color-neutral-300: 0deg 0% 25%;
            --color-neutral-400: 0deg 0% 32%;
            --color-neutral-500: 0deg 0% 45%;
            --color-neutral-600: 0deg 0% 64%;
            --color-neutral-700: 0deg 0% 83%;
            --color-neutral-800: 0deg 0% 90%;
            --color-neutral-900: 0deg 0% 96%;
            --color-neutral-950: 0deg 0% 98%;
            --color-stone-50: 20deg 14% 4%;
            --color-stone-100: 24deg 10% 10%;
            --color-stone-200: 12deg 6% 15%;
            --color-stone-300: 30deg 6% 25%;
            --color-stone-400: 33deg 5% 32%;
            --color-stone-500: 25deg 5% 45%;
            --color-stone-600: 24deg 5% 64%;
            --color-stone-700: 24deg 6% 83%;
            --color-stone-800: 20deg 6% 90%;
            --color-stone-900: 60deg 5% 96%;
            --color-stone-950: 60deg 9% 98%;
            --color-red-50: 0deg 75% 15%;
            --color-red-100: 0deg 63% 31%;
            --color-red-200: 0deg 70% 35%;
            --color-red-300: 0deg 74% 42%;
            --color-red-400: 0deg 72% 51%;
            --color-red-500: 0deg 84% 60%;
            --color-red-600: 0deg 91% 71%;
            --color-red-700: 0deg 94% 82%;
            --color-red-800: 0deg 96% 89%;
            --color-red-900: 0deg 93% 94%;
            --color-red-950: 0deg 86% 97%;
            --color-orange-50: 13deg 81% 15%;
            --color-orange-100: 15deg 75% 28%;
            --color-orange-200: 15deg 79% 34%;
            --color-orange-300: 17deg 88% 40%;
            --color-orange-400: 21deg 90% 48%;
            --color-orange-500: 25deg 95% 53%;
            --color-orange-600: 27deg 96% 61%;
            --color-orange-700: 31deg 97% 72%;
            --color-orange-800: 32deg 98% 83%;
            --color-orange-900: 34deg 100% 92%;
            --color-orange-950: 33deg 100% 96%;
            --color-amber-50: 21deg 92% 14%;
            --color-amber-100: 22deg 78% 26%;
            --color-amber-200: 23deg 83% 31%;
            --color-amber-300: 26deg 90% 37%;
            --color-amber-400: 32deg 95% 44%;
            --color-amber-500: 38deg 92% 50%;
            --color-amber-600: 43deg 96% 56%;
            --color-amber-700: 46deg 97% 65%;
            --color-amber-800: 48deg 97% 77%;
            --color-amber-900: 48deg 96% 89%;
            --color-amber-950: 48deg 100% 96%;
            --color-yellow-50: 26deg 83% 14%;
            --color-yellow-100: 28deg 73% 26%;
            --color-yellow-200: 32deg 81% 29%;
            --color-yellow-300: 35deg 92% 33%;
            --color-yellow-400: 41deg 96% 40%;
            --color-yellow-500: 45deg 93% 47%;
            --color-yellow-600: 48deg 96% 53%;
            --color-yellow-700: 50deg 98% 64%;
            --color-yellow-800: 53deg 98% 77%;
            --color-yellow-900: 55deg 97% 88%;
            --color-yellow-950: 55deg 92% 95%;
            --color-lime-50: 89deg 80% 10%;
            --color-lime-100: 88deg 61% 20%;
            --color-lime-200: 86deg 69% 23%;
            --color-lime-300: 86deg 78% 27%;
            --color-lime-400: 85deg 85% 35%;
            --color-lime-500: 84deg 81% 44%;
            --color-lime-600: 83deg 78% 55%;
            --color-lime-700: 82deg 85% 67%;
            --color-lime-800: 81deg 88% 80%;
            --color-lime-900: 80deg 89% 89%;
            --color-lime-950: 78deg 92% 95%;
            --color-green-50: 145deg 80% 10%;
            --color-green-100: 144deg 61% 20%;
            --color-green-200: 143deg 64% 24%;
            --color-green-300: 142deg 72% 29%;
            --color-green-400: 142deg 76% 36%;
            --color-green-500: 142deg 71% 45%;
            --color-green-600: 142deg 69% 58%;
            --color-green-700: 142deg 77% 73%;
            --color-green-800: 141deg 79% 85%;
            --color-green-900: 141deg 84% 93%;
            --color-green-950: 138deg 76% 97%;
            --color-emerald-50: 166deg 91% 9%;
            --color-emerald-100: 164deg 86% 16%;
            --color-emerald-200: 163deg 88% 20%;
            --color-emerald-300: 163deg 94% 24%;
            --color-emerald-400: 161deg 94% 30%;
            --color-emerald-500: 160deg 84% 39%;
            --color-emerald-600: 158deg 64% 52%;
            --color-emerald-700: 156deg 72% 67%;
            --color-emerald-800: 152deg 76% 80%;
            --color-emerald-900: 149deg 80% 90%;
            --color-emerald-950: 152deg 81% 96%;
            --color-teal-50: 179deg 84% 10%;
            --color-teal-100: 176deg 61% 19%;
            --color-teal-200: 176deg 69% 22%;
            --color-teal-300: 175deg 77% 26%;
            --color-teal-400: 175deg 84% 32%;
            --color-teal-500: 173deg 80% 40%;
            --color-teal-600: 172deg 66% 50%;
            --color-teal-700: 171deg 77% 64%;
            --color-teal-800: 168deg 84% 78%;
            --color-teal-900: 167deg 85% 89%;
            --color-teal-950: 166deg 76% 97%;
            --color-cyan-50: 197deg 79% 15%;
            --color-cyan-100: 196deg 64% 24%;
            --color-cyan-200: 194deg 70% 27%;
            --color-cyan-300: 193deg 82% 31%;
            --color-cyan-400: 192deg 91% 36%;
            --color-cyan-500: 189deg 94% 43%;
            --color-cyan-600: 188deg 86% 53%;
            --color-cyan-700: 187deg 92% 69%;
            --color-cyan-800: 186deg 94% 82%;
            --color-cyan-900: 185deg 96% 90%;
            --color-cyan-950: 183deg 100% 96%;
            --color-sky-50: 204deg 80% 16%;
            --color-sky-100: 202deg 80% 24%;
            --color-sky-200: 201deg 90% 27%;
            --color-sky-300: 201deg 96% 32%;
            --color-sky-400: 200deg 98% 39%;
            --color-sky-500: 199deg 89% 48%;
            --color-sky-600: 198deg 93% 60%;
            --color-sky-700: 199deg 95% 74%;
            --color-sky-800: 201deg 94% 86%;
            --color-sky-900: 204deg 94% 94%;
            --color-sky-950: 204deg 100% 97%;
            --color-blue-50: 226deg 57% 21%;
            --color-blue-100: 224deg 64% 33%;
            --color-blue-200: 226deg 71% 40%;
            --color-blue-300: 224deg 76% 48%;
            --color-blue-400: 221deg 83% 53%;
            --color-blue-500: 217deg 91% 60%;
            --color-blue-600: 213deg 94% 68%;
            --color-blue-700: 212deg 96% 78%;
            --color-blue-800: 213deg 97% 87%;
            --color-blue-900: 214deg 95% 93%;
            --color-blue-950: 214deg 100% 97%;
            --color-indigo-50: 244deg 47% 20%;
            --color-indigo-100: 242deg 47% 34%;
            --color-indigo-200: 244deg 55% 41%;
            --color-indigo-300: 245deg 58% 51%;
            --color-indigo-400: 243deg 75% 59%;
            --color-indigo-500: 239deg 84% 67%;
            --color-indigo-600: 234deg 89% 74%;
            --color-indigo-700: 230deg 94% 82%;
            --color-indigo-800: 228deg 96% 89%;
            --color-indigo-900: 226deg 100% 94%;
            --color-indigo-950: 226deg 100% 97%;
            --color-violet-50: 261deg 73% 23%;
            --color-violet-100: 264deg 67% 35%;
            --color-violet-200: 263deg 69% 42%;
            --color-violet-300: 263deg 70% 50%;
            --color-violet-400: 262deg 83% 58%;
            --color-violet-500: 258deg 90% 66%;
            --color-violet-600: 255deg 92% 76%;
            --color-violet-700: 252deg 95% 85%;
            --color-violet-800: 251deg 95% 92%;
            --color-violet-900: 251deg 91% 95%;
            --color-violet-950: 250deg 100% 98%;
            --color-purple-50: 274deg 87% 21%;
            --color-purple-100: 274deg 66% 32%;
            --color-purple-200: 273deg 67% 39%;
            --color-purple-300: 272deg 72% 47%;
            --color-purple-400: 271deg 81% 56%;
            --color-purple-500: 271deg 91% 65%;
            --color-purple-600: 270deg 95% 75%;
            --color-purple-700: 269deg 97% 85%;
            --color-purple-800: 269deg 100% 92%;
            --color-purple-900: 269deg 100% 95%;
            --color-purple-950: 270deg 100% 98%;
            --color-fuchsia-50: 297deg 90% 16%;
            --color-fuchsia-100: 297deg 64% 28%;
            --color-fuchsia-200: 295deg 70% 33%;
            --color-fuchsia-300: 295deg 72% 40%;
            --color-fuchsia-400: 293deg 69% 49%;
            --color-fuchsia-500: 292deg 84% 61%;
            --color-fuchsia-600: 292deg 91% 73%;
            --color-fuchsia-700: 291deg 93% 83%;
            --color-fuchsia-800: 288deg 96% 91%;
            --color-fuchsia-900: 287deg 100% 95%;
            --color-fuchsia-950: 289deg 100% 98%;
            --color-pink-50: 336deg 84% 17%;
            --color-pink-100: 336deg 69% 30%;
            --color-pink-200: 336deg 74% 35%;
            --color-pink-300: 335deg 78% 42%;
            --color-pink-400: 333deg 71% 51%;
            --color-pink-500: 330deg 81% 60%;
            --color-pink-600: 329deg 86% 70%;
            --color-pink-700: 327deg 87% 82%;
            --color-pink-800: 326deg 85% 90%;
            --color-pink-900: 326deg 78% 95%;
            --color-pink-950: 327deg 73% 97%;
            --color-rose-50: 343deg 88% 16%;
            --color-rose-100: 342deg 75% 30%;
            --color-rose-200: 343deg 80% 35%;
            --color-rose-300: 345deg 83% 41%;
            --color-rose-400: 347deg 77% 50%;
            --color-rose-500: 350deg 89% 60%;
            --color-rose-600: 351deg 95% 71%;
            --color-rose-700: 353deg 96% 82%;
            --color-rose-800: 353deg 96% 90%;
            --color-rose-900: 356deg 100% 95%;
            --color-rose-950: 356deg 100% 97%;
        }
    }
}

[x-cloak] {
    display: none;
}
